{% set theme_config = [] %} {# pretty sure I figured out a way where this is not necessary, but until then .. #}
{% for theme in config.themes %}
	{% set theme_config = theme_config|merge(theme) %}
{% endfor %}
{% set site_name = site.name|default(site.title) %}
<!DOCTYPE html>
<html lang="{{ (grav.language.getActive ?: grav.config.site.default_lang)|e }}">
<head>
{% block head %}
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width,initial-scale=1" name="viewport">

	<title>{% if header.title %}{{ header.title|e }} | {% endif %}{{ site.title|e }}</title>

	{% include 'partials/metadata.html.twig' %}

	<!-- Disable tap highlight on IE -->
	<meta name="msapplication-tap-highlight" content="no">

	<link rel="icon" type="image/png" href="{{ url('theme://images/logo.png')|e }}" />
	<link rel="apple-touch-icon" href="{{ url('theme://images/logo.png?resize=180,180')|e }}">
	<link rel="canonical" href="{{ page.canonical(true)|e }}" />
{% endblock head %}

{% block stylesheets %}
	{% do assets.addCss('theme://css/main.82cfd66e.css', 100) %}
	{% do assets.addCss('theme://css/custom.css', 1) %}
{% endblock %}

{% set nav_js %}
document.addEventListener("DOMContentLoaded", function (event) {
  navbarToggleSidebar();
  navActivePage();
});
{% endset %}

{% block javascripts %}
	{% do assets.addInlineJs(nav_js, {'group': 'inline_bottom'}) %}
	{% do assets.addJs('theme://js/main.85741bff.js', {'group': 'bottom'}) %}
{% endblock %}

{% block assets deferred %}
	{{ assets.css()|raw }}
	{{ assets.js()|raw }}
{% endblock %}
</head>
<body class="{{ page.header.body_classes|e }}">

{% block header %}
	<!-- Add your content of header -->
	<header>
		<div class="navbar navbar-default visible-xs">
			<button type="button" class="navbar-toggle collapsed">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="{{ home_url }}" class="navbar-brand">{{ site_name }}</a>
		</div>
		<nav class="sidebar">
			<div class="navbar-collapse" id="navbar-collapse">
				<div class="site-header hidden-xs">
						<a class="site-brand" href="{{ home_url }}">
							<img class="img-responsive site-logo" alt="{{ site_name ~ ' logo' }}" src="{{ media_directory('theme://images')[config.theme.brand_logo].cropResize(34,34).url }}">
							{{ site_name }}
						</a>
					<p>{{ site.tagline }}</p>
				</div>

				{% block header_navigation %}
						{% include 'partials/navigation.html.twig' %}
				{% endblock %}

				<nav class="nav-footer">
					{% block footer %}
						{% include 'partials/footer.html.twig' %}
					{% endblock %}
				</nav>
			</div>
		</nav>
	</header>
{% endblock %}

{% block body %}
	<main class="{{ page.header.body_classes }}" id="main-collapse">
		{% block content %}{% endblock %}
		{{ assets.js('main')|raw }}
	</main>
{% endblock %}

{% block bottom deferred %}
	{{ assets.js('inline_bottom')|raw }} {# refer https://github.com/getgrav/grav/issues/1893 for why #}
	{{ assets.js('bottom')|raw }}
{% endblock %}

</body>
</html>
