{% extends 'partials/base.html.twig' %}

{% block content %}
<!-- Add your site or app content here -->

<div class="hero-full-wrapper">
	<div class="grid">
		<div class="gutter-sizer"></div>
		<div class="grid-sizer"></div>
		{% for item in page.header.grid_items %}
			{% set hero = page.media[item.hero] %}
			{% if hero %} {# only show the panel if the image can be loaded #}
			<div class="grid-item">
				<img class="img-responsive" alt="{{ hero.meta.alt|default('') }}" src="{{ hero.url }}">
				{% if item.target|starts_with(['http://', 'https://', '//']) %} {# external link test #}
					{% set target_url = item.target %}
				{% else %}
					{% set target_url = page.find(item.target).url %}
				{% endif %}
				{% if target_url is not empty %}
					<a href="{{ target_url }}" class="project-description">
						<div class="project-text-holder">
							<div class="project-text-inner">
								<h3>{{ item.heading|e }}</h3>
								{% if item.teaser %}
									{{ item.teaser|trim|markdown()|raw }}
								{% endif %}
							</div>
						</div>
					</a>
				{% else %}
					{{ debug("Homepage grid item target #{item.target} could not be identified as a valid link") }}
				{% endif %}
			</div>
			{% endif %}
		{% endfor %}
	</div>
</div>

{% set inline_main %}
document.addEventListener("DOMContentLoaded", function (event) {
	masonryBuild();
});
{% endset %}
{% do assets.addInlineJs(inline_main, {'group': 'main'}) %}

{% endblock %}