{% extends 'partials/base.html.twig' %}

{% block content %}

<div class="row">
	{% block heading_intro %}
	<div class="col-xs-12 section-container-spacer">
		{% block breadcrumbs %}{% endblock %}
		<h1>{{ page.title }}</h1>
		{% if page.header.placement|default('above') == 'above' %}
			{{ page.content()|raw }}
		{% endif %}
	</div>
	{% endblock %}

	{% block before_panels %}{% endblock %}

	{# {% block sections %} #}
		{% set sections = [] %}
		{% for p in page.collection('sections')|default(page.children) %}{{ dump(p.media)}}
			{% set section = {
				'feature': {
					'src': (p.media[p.header.feature.source]|default(p.media.images|first)).url,
					'alt': p.header.feature.alt|default(''),
					},
				'heading': p.title,
				'summary': p.summary,
				'target': p.url,
				'label': p.header.teaser,
				}
			%}
			{% set sections = sections|merge([section]) %}
		{% endfor %}
	{# {% endblock sections %} {{ dump(sections)}} #} {# this was supposed to allow me to override this array, but `sections` var does not seem to be available outside the block #}

	{% block panels %}
		{% for section in sections %}
			{% block panel %}
			<div class="col-xs-12 col-md-4 section-container-spacer">
				<img class="img-responsive" alt="{{ section.feature.alt }}" src="{{ section.feature.src|default((page.media.images|first).url) }}">
				<h2>{{ section.heading }}</h2>
				{{ section.summary|raw }}
				<a href="{{ section.target }}" class="btn btn-primary">{{ section.label|default('Get in touch') }}</a>
			</div>
			{% endblock %}
		{% endfor %}
	{% endblock %}

	{% if page.header.placement|default('above') == 'below' %}
	<div class="col-xs-12 section-container-spacer">
		{{ page.content()|raw }}
	{% endif %}
	</div>

</div>

{% endblock %}