{% extends 'partials/base.html.twig' %}

{% block content %}
<div class="row">
	<div class="col-xs-12 col-md-6">
		{% block pre_picture %}{% endblock %}
		{% block hero -%}
			{% set feature_image = page.media[page.header.feature.source]|default(page.media.images|first) %}
			{% if feature_image %}
				<img class="img-responsive" alt="{{ page.header.feature.alt|default(feature_image.meta.alt)|default('') }}" src="{{ feature_image.cropResize(1000, 1500).url }}">
			{% else %}
				{{ debug('Feature image could not be loaded and there is no page media fallback') }}
			{% endif %}
		{%- endblock %}
		{% block post_picture %}{% endblock %}
	</div>
	<div class="col-xs-12 col-md-6">
    	<h1>{{ page.title }}</h1>

		{% block inner_content %}
			{{ page.content()|raw }}
		{% endblock %}
	</div>
</div>
{% endblock %}
